.__center{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    border:1px solid black;
    height:300px;
    overflow: auto;

}

.table-row:hover{
  cursor: pointer;
}

.selectedStock{
    background: lightgreen;
}


 .scroll::-webkit-scrollbar {
     width: 12px;
 }
 
 .scroll::-webkit-scrollbar-track {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
     border-radius: 10px;
 }
 
 .scroll::-webkit-scrollbar-thumb {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
 }